.about {
    margin-top: 20px;
} 
.about img {
    border: none;
    border-radius: 6px;
}
.about .about-text-one 
{
    padding: 30px;
}
.about .about-text-one h2 {
    color: #000;
    font-size: 23px;
    font-family: monospace;
    font-weight: bold;
}
.about .about-text-one h5 {
    color: rgb(49, 47, 47);
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
}
.about .about-text-one p {
    font-size: 15px;
    font-family: sans-serif;
    color:#000 ;
}
.about .about-text-one .btn {
    color: #fff;
    background-color: #059DC0;
    font-size: 19px;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 7px 10px #eee;
}
.about .about-text-one .btn:hover {
    background-color: #19aed0;
}
.about .about-text-tow {
    padding: 30px;
}
.about .about-text-tow h2, h5,p {
    color: #000;
}
.about .about-text-tow h2 {
    color: #000;
    font-size: 23px;
    font-family: monospace;
    font-weight: bold;
}
.about .about-text-tow h5 {
    color: rgb(49, 47, 47);
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
}
.about .about-text-tow p {
    font-size: 15px;
    font-family: sans-serif;
    color:#000 ;
}
.about .about-text-tow .btn {
    color: #fff;
    background-color: #059DC0;
    font-size: 19px;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 7px 10px #eee;
}
.about .about-text-tow .btn:hover {
    background-color: #19aed0;
}
.service {
    margin-top: 20px;
}
.service img {
    width: 60px;
}
.box-service {
    margin-top: 20px;
}
.box-service .box {
    width: 200px;
    height: 16vh;
    background-color: #04D4F0;
    border: none;
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 6px;
    box-shadow: 2px 10px 10px #eee;
}
.box-service .box h3 {
    font-size: 16px;
    margin: 46px;
    font-weight: bold;
    font-family: monospace;
}
.box-service .box:hover {
    background-color: #169daf;
}
.box-service .box article {
    width: 139px;
    height: 20px;
    background-color: #6AF2F0;
    padding: 13px;
    margin: 9px 9px;
    border-radius: 6px;
}
.box-service .box section {
    width: 20px;
    height: 20px;
    background-color: #6AF2F0;
    padding: 13px;
    margin: -33px 162px;
    border-radius: 12px;
}
.gallrey {
    margin-top: 20px;
}
.gallrey .image {
    width: 300px;
    margin: 30px;
}
footer {
    width: 100%;
    height: 35vh;
    background-color: #2bdeef;
}
footer h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    margin: 14px;
}
footer p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
}
footer p span {
    color: rgb(32, 8, 113);
}
footer .links li{
    list-style: none;
    margin: 14px;
}
footer .links li a{
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    
}
footer .fllow 
{
    padding: 20px;
}
footer .fllow img {
    width: 40px;
}